@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body{
    background: #f0f0ef;
}


section{
    padding-left: 3%;
    padding-right: 5%;

}
main{
    margin-left: 8rem;
    margin-top: 8rem;
}
.herobanner{
    padding-right: 0;
    display: grid;
    grid-template-columns: 4fr 2fr;
    border-bottom: thin solid #0352ff;
}

.herobanner>.pres>h2{
    margin-top: 5%;
    font-size: 7rem;
    font-weight: 800;
    animation: opacity 2s ease;
}

@keyframes opacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes appearingRight{
    0%{
        opacity: 0;
        transform: translateX(100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes appearingLeft{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
    

.herobanner>div>p{
    margin-top: 3rem;
    margin-bottom: 5rem;
    font-size: 1.6rem;
    max-width: 50%;
    font-weight: 600;
    color: #181818;
}
.herobanner>div>a{
    padding-bottom: .9rem;
    font-size: 2rem;
    border-bottom: .25rem solid black;
    font-weight: 900;
    transition: all 0.5s ease;
}
.herobanner>div>a:hover{
    transition: all 0.5s ease;
    color: #474747;
    padding-left: 2rem;
    border-bottom: .25rem solid #474747;;
}

.projects{
    padding-bottom: 5rem;
    margin: 10%;
}
.projects>h2{
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-size: 5rem;
    font-weight: 800;
}
.projects>p{
    margin-bottom: 5rem;
    font-size: 1.6rem;
    max-width: 50%;
    font-weight: 600;
    color: #181818;
}
.decouvrir{
    padding-bottom: .9rem;
    font-size: 2rem;
    border-bottom: .25rem solid black;
    font-weight: 900;
    transition: all 0.5s ease;
}
.decouvrir:hover{
    transition: all 0.5s ease;
    color: #474747;
    padding-left: 2rem;
    border-bottom: .25rem solid #474747;;
}
.pres{
    padding-bottom: 6.5rem;
}
.last-project{
    display: flex;
    flex-direction: column;
    border-left: thin solid #0352ff;
    text-align: center;
}
.btn-doc{
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%;
    max-width: 70%;
    margin: auto;
    background-color: #0059fd;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 800;
    border-bottom: thin solid #ffffff;
    transition: all 0.5s ease;
}
.btn-doc:hover{
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.dev{
    color: #f0f0ef;
    text-shadow: rgb(36, 35, 35) 1px 0 10px;
}
.project_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 6rem;
    row-gap: 6rem;
    margin-top: 5rem;
     width: 100%;
     margin: auto;
     margin-top: 4rem;
}
.project_grid>li{
    border: thin solid #0352ff;
    width: 100%;
}
.project_grid>li>figure>img{
width: 100%;
border-bottom: #0352ff thin solid;
}
.project_grid>li>figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project_grid>li>figure>figcaption>h3{
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
}
.project_grid>li>figure>figcaption{
    padding: 2rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: #181818;
}
.project_grid>li>figure>figcaption>p{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.project_grid>li>figure>figcaption>ul{
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    width: fit-content;
    gap: 1rem;
}
.project_grid>li>figure>figcaption>ul>li{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 600;
    color: #181818;
    border: #0352ff thin solid;
    width: fit-content;
    padding: 1rem;
}

.grid_right{
    position: relative;
    top: -10rem;
}
.appear_left{
    animation: appearingLeft 2s ease;
}
.appear_right{
    animation: appearingRight 1.5s ease;
}

.contact{
    border-top: #0352ff thin solid;
}
.contact>div{
    background-color: #0352ff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    text-align: center;
    width: fit-content;
    margin: auto;
    padding-left: 6rem;
    padding-right: 6rem;
}
.contact>div>h2{
    font-size: 5rem;
    font-weight: 800;
    margin-top: 5rem;
    margin-bottom: 3rem;
}
.contact>div>p{
    font-size: 1.6rem;
    font-weight: 600;
    color: #ffffff;
}
.btn_contact{
    padding: 3rem 4rem;
    font-size: 2rem;
    font-weight: 900;
    border: none;
    color: #fff;
    border: thin solid #fff;
    margin-top: 5rem;
    margin-bottom: 5rem;
    transition: all 0.5s ease;
}
.btn_contact:hover{
    transition: all 0.5s ease;
    background-color: #ffffff;
    color: #2326ff;
}
.stack_list>li{
    transition: all 0.5s ease;
}
.stack_list>li:hover{
    transform: scale(1.1);
    transition: all 0.5s ease;
    background-color: #0352ff;
    color: #ffffff;
}
.btn-doc{
    cursor: pointer;
}


.modal-document{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: all 0.2s ease;
}

.disabled{
    z-index: -10;
    opacity: 0;
}

.modal-document>section{
    background-color: #fff;
    width: 80%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
}
.modal-document>section>ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    width: fit-content;
    background-color: #f0f0ef;
    padding: 2vw;
    border-radius: 1rem;
}
.modal-document>section>ul>li{
    width: fit-content;
}
.modal-document>section>ul>li>a>img{
    width: 10vw;
    height: 10vw;
}
.modal-document>section>h3{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 2rem;
}
.close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}
.close-cross{
    content: ' ';
    position: relative;
    width: 1rem;
    height: 2px;


}
.close-cross::before{
    position: absolute;
    content: ' ';
    width: 1rem;
    height: 2px;
    transform: rotate(45deg);
    background-color: #181818;
}
.close-cross::after{
    position: absolute;
    content: ' ';
    width: 1rem;
    height: 2px;
    transform: rotate(-45deg);
    background-color: #181818;
}

@media (max-width: 917px){
    .herobanner{
        display: flex;
        flex-direction: column;
    }
    .btn-doc{
        margin-bottom: 2rem;
    }
    h2{
        font-size: 5rem;
        text-align: center;
        margin: auto;
    }
    .contactdiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .btn_contact{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .contact>div>h2{
        font-size: 3rem;
        text-align: center;
        margin: auto;
    }
    .herobanner>.pres>p, .herobanner>.pres>a ,.projects>p, .projects>a{
        font-size: 1.6rem;
        text-align: center;
        margin: auto;
        margin-top: 2rem;
        max-width: 100%;
    }
    .herobanner>.pres, .projects{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .sidebar{
        display: none;
    }
    .projects{
        margin : 5%
    }
    .project_grid{
        display: block;
    }
    .project_grid>li{
        margin-bottom: 1rem;
    }
    .grid_right{
        position: relative;
        top: 0;
    }
    main{
        margin: 0;
        transform: translateY(3%);
    }
    section{
        padding: 0;
    }

    header{
        width: 100%;
        margin-left: 0;
    }
    header>a{
        width: 30%;
    }
    .contact>div>h2{
        margin-top: 2rem;
    }
    .modal-document>section>h3{
        text-align: center;
        font-size: 2rem;
    }
}
    
